litellm~=1.83.2
pydantic~=2.12.5
python-dotenv~=1.0.1  # Downgrade to avoid issues with litellm v1.83.2
e2b-code-interpreter~=2.5.0
requests~=2.33.1
json_repair~=0.58.6
tenacity~=9.1.4
aiohttp~=3.13.3
protobuf~=6.33.5
h11~=0.16.0

# Dependency for colored display on terminals
rich~=14.3.3

# Dependencies for the tools
ddgs~=9.12.1
lxml>=5.3.0
beautifulsoup4~=4.14.3
markitdown[pdf, docx, xlsx]~=0.1.5
youtube-transcript-api~=1.2.4
wikipedia~=1.4.0
# arxiv~=2.4.1  # Disabled because it requires an older version of requests
urllib3~=2.6.3

# Observability
langfuse>=2,<3
# langsmith==0.3.32
onnxruntime>=1.24.1 # not directly required, pinned by Snyk to avoid a vulnerability
