litellm~=1.67.0
pydantic~=2.11.3
python-dotenv~=1.1.0
e2b-code-interpreter~=1.2.1
json_repair~=0.44.1

# Dependency for colored display on terminals
rich~=14.0.0

# Dependencies for the tools
duckduckgo_search~=8.0.1
markdownify~=1.1.0
